[uwsgi]
socket = /tmp/pybossa.sock
chmod-socket = 666
chdir = /var/www/pybossa/pybossa
pythonpath = ..
virtualenv = /var/www/pybossa/env
module = run:app
cpu-affinity = 1
processes = 2
threads = 2
stats = /tmp/pybossa-stats.sock
buffer-size = 65535
